# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/ApplicationMedecin/nbproject/private/
/ApplicationGui/nbproject/private/
/EjbPriseDeSang/nbproject/private/
/WSResultat/nbproject/private/
/EAPriseDeSang/nbproject/private/
/EAPriseDeSang/EAPriseDeSang-war/nbproject/private/
/EAPriseDeSang/EAPriseDeSang-ejb/nbproject/private/
/PriseDeSangGui/nbproject/private/